@using WebSiteBanHang.Models;
@using PagedList.Mvc;

@model PagedList.IPagedList<SanPham>
@{
    ViewBag.Title = "TimKiemSP";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
    WebGrid grid = new WebGrid(source: Model, rowsPerPage: 10);
}
<br />
<br />
<br />
@using (Html.BeginForm("LayTuKhoa", "QuanLySanPham"))
{
<div class="box">
    <div class="container-1">
        <span class="icon"><i class="fa fa-search"></i></span>
        <input type="text" name="sTuKhoa">
        <input type="submit" value="Tìm kiếm">
    </div>
</div>
    <br />
    <br />
    <br />
}
@grid.GetHtml(
    tableStyle: "divTable",
    headerStyle: "gridHead",
    footerStyle: "gridFooter",
    rowStyle: "gridRow",
    alternatingRowStyle: "gridRowStyle",
    columns: grid.Columns(
        grid.Column("MaSP", "Mã sản phẩm"),
        grid.Column("TenSP", "Tên SP"),
        grid.Column("HinhAnh", "Hình ảnh", format: p => @Html.Raw("<img width=\"150\" height=\"50\" src=\"../Content/HinhAnhSP/" + p.HinhAnh+"\">")),
        grid.Column(format: p => Html.ActionLink("Chỉnh sửa", "ChinhSua", new { id =p.MaSP})),
        grid.Column(format: p => Html.ActionLink("Xoá", "Xoa", new { id =p.MaSP}))
    ))

<style>
    .divTable {
        width: 100%;
        border: 1px solid #999999;
    }

        .divTable td {
            border: 1px solid #999999;
        }

    .gridHead > th > a {
        background-color: green;
    }

    .gridFooter {
        font-weight: bold;
    }
</style>
<style>
    .FooterAdmin {
        display: none;
    }
</style>

@*Cho tất cả các trang ẩn hết chỉ cho item trang 1 hiện thị*@
<style>
    .simpleCart_shelfItem {
        display: none;
    }

    .Trang1 {
        display: block;
    }
</style>
@*Xử lý click vào link trang nào thì show sản phẩm trang đó ra*@
<script>
    $('.linkTrang').click(function () {
        $(".simpleCart_shelfItem").hide();
        //Lấy ra số trang từ thẻ a
        var soTrang = $(this).attr("data-SoTrang")
        //Gọi những class nào thuộc số trang
        $("." + soTrang).show();
    });
</script>



