
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}
<style>
    .banner {
        display: none;
    }
</style>

<div style="width:500px; height:400px;">Nguyễn Quang Huy</div>

