
<div class="footer">
    <div class="container">
        <div class="footer-top-at">

            <div class="col-md-4 amet-sed">
                <h4>Thông tin khác</h4>
                <ul class="nav-bottom">
                    <li><a href="#">Hướng dẫn mua hàng</a></li>
                    <li><a href="#">Câu hỏi thường gặp</a></li>
                    <li><a href="contact.html">Vị trí</a></li>
                    <li><a href="#">Vận chuyển</a></li>
                    <li><a href="#">Thành viên</a></li>
                </ul>
            </div>
            <div class="col-md-4 amet-sed ">
                <h4>Liên hệ</h4>

                <p>
                    Chúng tôi sẵn sàng lắng nghe các bạn !
                </p>
                <p>Liên hệ trực tiếp thông qua</p>
                <p>số điện thoại:  +84386388917</p>
                <ul class="social">
                    <li><a href="#"><i> </i></a></li>
                    <li><a href="#"><i class="twitter"> </i></a></li>
                    <li><a href="#"><i class="rss"> </i></a></li>
                    <li><a href="#"><i class="gmail"> </i></a></li>

                </ul>
            </div>
            <div class="col-md-4 amet-sed">
                <h4>Bản tin</h4>
                <p>
                    Đăng ký để nhận được tất cả các cập nhật tin tức và quảng cáo
                </p>
                <form>
                    <input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
                    <input type="submit" value="Sign up">
                </form>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="footer-class">
        <p>© 2020 Cửa hàng đồ điện tử | Được thiết kế bởi  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
    </div>
</div>
